*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40%;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #e0e0e0;
    gap: 20px;
}

.btn_container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxcolor{
    height: 70px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid black;
}

#button1{
    background: #e0e0e0 ;
}
#button2{
    background: #6fcf97 ;
}
#button3{
    background: #56ccf2 ;
}
#button4{
    background: #bb6bd9 ;
}

.backcolor{
    gap: 10px;
    margin-top: 30px;
    padding: 5px 20px 5px 20px;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 25px;
    display: flex;
    font-size: large;
}

.paragraph p{
    margin: 5px;

}